html { 
    background: url(../images/background1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    background-color: transparent;
}

#background {
    background: url(../images/background.jpg) no-repeat center;
    margin-top: 5%;
    height: 600px;
    border-style: ridge;
    border-color: purple;
    border-width: 4px;
}
#title {
    text-align: center;
    font-weight: bolder;
    font-size: 60px;
    width: fit-content;
    background-color: whitesmoke;
    border-style: ridge;
    border-color: black;
    border-width: 4px;
}
#question {
    text-align: center;
    width: 80%;
    background-color: whitesmoke;
    height: auto;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-style: ridge;
    border-color: black;
    border-width: 4px;
    font-size: large;
    box-sizing: content-box;
}
#start {
    margin: auto;
    margin-top: 2%;
}
#info {
    size: 40px;
    font-weight: bolder;
    margin: auto;
    padding: 5%;
    box-sizing: content-box;
}
#timer {
    size: 30px;
    font-weight: bolder;
    height: fit-content;
    margin-top: 0;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-color: black;
}
#quest {
    size: 30px;
    font-weight: bolder;
    height: fit-content;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: black;

}
.custom-control {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    
    
}
#correctAns {
    color: rgb(70, 136, 4);
    font-weight: bolder;
    font-size: larger;
}
#submitChoice {
    margin: auto;
    margin-top: 2%;
}
#rightAnsDisplay {
    margin: auto;
    text-align: center;
    padding: 3%;
}
#wrongAns {
    margin: auto;
    padding: 3%;
    text-align: center;
}
#results {
    margin: auto;
    size: 30px;
    font-weight: bolder;
}
#tryAgain {
    margin: auto;
}
.btn {
    border-style: inset;
    border-color: black;
    border-width: 2px;
}
#openingImg {
    margin-top: 15px;
}
#tryAgain {
    margin-top: 20px;
    margin-bottom: 20px;
}